# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
vids/9WhpAVOSyl8_tmp.mp4.part
imgs/o2amXB3yVWw/scene_00000000.jpg
imgs/o2amXB3yVWw/scene_00000001.jpg
imgs/o2amXB3yVWw/scene_00000002.jpg
imgs/o2amXB3yVWw/scene_00000003.jpg
imgs/o2amXB3yVWw/scene_00000004.jpg
imgs/o2amXB3yVWw/scene_00000005.jpg
imgs/o2amXB3yVWw/scene_00000006.jpg
imgs/o2amXB3yVWw/scene_00000007.jpg
imgs/o2amXB3yVWw/scene_00000008.jpg
imgs/o2amXB3yVWw/scene_00000009.jpg
imgs/o2amXB3yVWw/scene_00000010.jpg
imgs/o2amXB3yVWw/scene_00000011.jpg
imgs/o2amXB3yVWw/scene_00000012.jpg
imgs/o2amXB3yVWw/scene_00000013.jpg
imgs/o2amXB3yVWw/scene_00000014.jpg
imgs/o2amXB3yVWw/scene_00000015.jpg
imgs/o2amXB3yVWw/scene_00000016.jpg
imgs/o2amXB3yVWw/scene_00000017.jpg
imgs/o2amXB3yVWw/scene_00000018.jpg
imgs/o2amXB3yVWw/scene_00000019.jpg
imgs/o2amXB3yVWw/scene_00000020.jpg
imgs/o2amXB3yVWw/scene_00000021.jpg
imgs/o2amXB3yVWw/scene_00000022.jpg
imgs/o2amXB3yVWw/scene_00000023.jpg
imgs/o2amXB3yVWw/scene_00000024.jpg
imgs/o2amXB3yVWw/scene_00000025.jpg
imgs/o2amXB3yVWw/scene_00000026.jpg
imgs/o2amXB3yVWw/scene_00000027.jpg
imgs/o2amXB3yVWw/scene_00000028.jpg
imgs/o2amXB3yVWw/scene_00000029.jpg
imgs/o2amXB3yVWw/scene_00000030.jpg
imgs/o2amXB3yVWw/scene_00000031.jpg
imgs/o2amXB3yVWw/scene_00000032.jpg
imgs/o2amXB3yVWw/scene_00000033.jpg
imgs/o2amXB3yVWw/scene_00000034.jpg
imgs/o2amXB3yVWw/scene_00000035.jpg
imgs/o2amXB3yVWw/scene_00000036.jpg
imgs/o2amXB3yVWw/scene_00000037.jpg
imgs/o2amXB3yVWw/scene_00000038.jpg
imgs/o2amXB3yVWw/scene_00000039.jpg
imgs/o2amXB3yVWw/scene_00000040.jpg
imgs/o2amXB3yVWw/scene_00000041.jpg
imgs/o2amXB3yVWw/scene_00000042.jpg
imgs/o2amXB3yVWw/scene_00000043.jpg
imgs/o2amXB3yVWw/scene_00000044.jpg
imgs/o2amXB3yVWw/scene_00000045.jpg
imgs/o2amXB3yVWw/scene_00000046.jpg
imgs/o2amXB3yVWw/scene_00000047.jpg
imgs/o2amXB3yVWw/scene_00000048.jpg
imgs/o2amXB3yVWw/scene_00000049.jpg
imgs/o2amXB3yVWw/scene_00000050.jpg
imgs/o2amXB3yVWw/scene_00000051.jpg
imgs/o2amXB3yVWw/scene_00000052.jpg
imgs/o2amXB3yVWw/scene_00000053.jpg
imgs/o2amXB3yVWw/scene_00000054.jpg
imgs/o2amXB3yVWw/scene_00000055.jpg
imgs/o2amXB3yVWw/scene_00000056.jpg
imgs/o2amXB3yVWw/scene_00000057.jpg
imgs/o2amXB3yVWw/scene_00000058.jpg
imgs/o2amXB3yVWw/scene_00000059.jpg
imgs/o2amXB3yVWw/scene_00000060.jpg
imgs/o2amXB3yVWw/scene_00000061.jpg
imgs/o2amXB3yVWw/scene_00000062.jpg
imgs/o2amXB3yVWw/scene_00000063.jpg
imgs/o2amXB3yVWw/scene_00000064.jpg
imgs/o2amXB3yVWw/scene_00000065.jpg
imgs/o2amXB3yVWw/scene_00000066.jpg
imgs/o2amXB3yVWw/scene_00000067.jpg
imgs/o2amXB3yVWw/scene_00000068.jpg
imgs/o2amXB3yVWw/scene_00000069.jpg
imgs/o2amXB3yVWw/scene_00000070.jpg
imgs/o2amXB3yVWw/scene_00000071.jpg
imgs/o2amXB3yVWw/scene_00000072.jpg
imgs/o2amXB3yVWw/scene_00000073.jpg
imgs/o2amXB3yVWw/scene_00000074.jpg
imgs/o2amXB3yVWw/scene_00000075.jpg
imgs/o2amXB3yVWw/scene_00000076.jpg
imgs/o2amXB3yVWw/scene_00000077.jpg
imgs/o2amXB3yVWw/scene_00000078.jpg
imgs/o2amXB3yVWw/scene_00000079.jpg
imgs/o2amXB3yVWw/scene_00000080.jpg
imgs/o2amXB3yVWw/scene_00000081.jpg
imgs/o2amXB3yVWw/scene_00000082.jpg
imgs/o2amXB3yVWw/scene_00000083.jpg
imgs/o2amXB3yVWw/scene_00000084.jpg
imgs/o2amXB3yVWw/scene_00000085.jpg
imgs/o2amXB3yVWw/scene_00000086.jpg
imgs/o2amXB3yVWw/scene_00000087.jpg
imgs/o2amXB3yVWw/scene_00000088.jpg
imgs/o2amXB3yVWw/scene_00000089.jpg
imgs/o2amXB3yVWw/scene_00000090.jpg
imgs/o2amXB3yVWw/scene_00000091.jpg
imgs/o2amXB3yVWw/scene_00000092.jpg
imgs/o2amXB3yVWw/scene_00000093.jpg
imgs/o2amXB3yVWw/scene_00000094.jpg
imgs/o2amXB3yVWw/scene_00000095.jpg
imgs/o2amXB3yVWw/scene_00000096.jpg
imgs/o2amXB3yVWw/scene_00000097.jpg
imgs/o2amXB3yVWw/scene_00000098.jpg
imgs/o2amXB3yVWw/scene_00000099.jpg
imgs/o2amXB3yVWw/scene_00000100.jpg
imgs/o2amXB3yVWw/scene_00000101.jpg
imgs/o2amXB3yVWw/scene_00000102.jpg
imgs/o2amXB3yVWw/scene_00000103.jpg
imgs/o2amXB3yVWw/scene_00000104.jpg
imgs/o2amXB3yVWw/scene_00000105.jpg
imgs/o2amXB3yVWw/scene_00000106.jpg
imgs/o2amXB3yVWw/scene_00000107.jpg
imgs/o2amXB3yVWw/scene_00000108.jpg
imgs/o2amXB3yVWw/scene_00000109.jpg
imgs/o2amXB3yVWw/scene_00000110.jpg
imgs/o2amXB3yVWw/scene_00000111.jpg
imgs/o2amXB3yVWw/scene_00000112.jpg
imgs/o2amXB3yVWw/scene_00000113.jpg
imgs/o2amXB3yVWw/scene_00000114.jpg
imgs/o2amXB3yVWw/scene_00000115.jpg
imgs/o2amXB3yVWw/scene_00000116.jpg
imgs/o2amXB3yVWw/scene_00000117.jpg
imgs/o2amXB3yVWw/scene_00000118.jpg
imgs/o2amXB3yVWw/scene_00000119.jpg
imgs/o2amXB3yVWw/scene_00000120.jpg
imgs/o2amXB3yVWw/scene_00000121.jpg
imgs/o2amXB3yVWw/scene_00000122.jpg
imgs/o2amXB3yVWw/scene_00000123.jpg
imgs/o2amXB3yVWw/scene_00000124.jpg
imgs/o2amXB3yVWw/scene_00000125.jpg
imgs/o2amXB3yVWw/scene_00000126.jpg
imgs/o2amXB3yVWw/scene_00000127.jpg
imgs/o2amXB3yVWw/scene_00000128.jpg
imgs/o2amXB3yVWw/scene_00000129.jpg
imgs/o2amXB3yVWw/scene_00000130.jpg
imgs/o2amXB3yVWw/scene_00000131.jpg
imgs/o2amXB3yVWw/scene_00000132.jpg
imgs/o2amXB3yVWw/scene_00000133.jpg
imgs/o2amXB3yVWw/scene_00000134.jpg
imgs/o2amXB3yVWw/scene_00000135.jpg
imgs/o2amXB3yVWw/scene_00000136.jpg
imgs/o2amXB3yVWw/scene_00000137.jpg
imgs/o2amXB3yVWw/scene_00000138.jpg
imgs/o2amXB3yVWw/scene_00000139.jpg
imgs/o2amXB3yVWw/scene_00000140.jpg
imgs/o2amXB3yVWw/scene_00000141.jpg
imgs/o2amXB3yVWw/scene_00000142.jpg
imgs/o2amXB3yVWw/scene_00000143.jpg
imgs/o2amXB3yVWw/scene_00000144.jpg
imgs/o2amXB3yVWw/scene_00000145.jpg
imgs/o2amXB3yVWw/scene_00000146.jpg
imgs/o2amXB3yVWw/scene_00000147.jpg
imgs/o2amXB3yVWw/scene_00000148.jpg
imgs/o2amXB3yVWw/scene_00000149.jpg
imgs/o2amXB3yVWw/scene_00000150.jpg
imgs/o2amXB3yVWw/scene_00000151.jpg
imgs/o2amXB3yVWw/scene_00000152.jpg
imgs/o2amXB3yVWw/scene_00000153.jpg
imgs/o2amXB3yVWw/scene_00000154.jpg
imgs/o2amXB3yVWw/scene_00000155.jpg
imgs/o2amXB3yVWw/scene_00000156.jpg
imgs/o2amXB3yVWw/scene_00000157.jpg
imgs/o2amXB3yVWw/scene_00000158.jpg
imgs/o2amXB3yVWw/scene_00000159.jpg
imgs/o2amXB3yVWw/scene_00000160.jpg
imgs/o2amXB3yVWw/scene_00000161.jpg
imgs/o2amXB3yVWw/scene_00000162.jpg
imgs/o2amXB3yVWw/scene_00000163.jpg
imgs/o2amXB3yVWw/scene_00000164.jpg
imgs/o2amXB3yVWw/scene_00000165.jpg
imgs/o2amXB3yVWw/scene_00000166.jpg
imgs/o2amXB3yVWw/scene_00000167.jpg
imgs/o2amXB3yVWw/scene_00000168.jpg
imgs/o2amXB3yVWw/scene_00000169.jpg
imgs/o2amXB3yVWw/scene_00000170.jpg
imgs/o2amXB3yVWw/scene_00000171.jpg
imgs/o2amXB3yVWw/scene_00000172.jpg
imgs/o2amXB3yVWw/scene_00000173.jpg
imgs/o2amXB3yVWw/scene_00000174.jpg
imgs/o2amXB3yVWw/scene_00000175.jpg
imgs/o2amXB3yVWw/scene_00000176.jpg
imgs/o2amXB3yVWw/scene_00000177.jpg
imgs/o2amXB3yVWw/scene_00000178.jpg
imgs/o2amXB3yVWw/scene_00000179.jpg
